<div class="section christies-wrapper wf-section">
        <div id="w-node-_99ce1dab-9451-fb4b-d342-d0b46022b7a2-6022b7a1" class="christies-image-wrapper"><img data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;44vw&quot;}]" loading="lazy" src="{{ images.-3601644.url }}" sizes="(max-width: 767px) 100vw, 44vw" alt="{{ images.-3601644.alt | trim | escape }}" class="christies-image"></div>
        <div class="christies-content-wrapper">
          <div class="affiliate-broker-divider"></div>
          <h2 class="h4">{{ texts.263edd3a }}</h2>
          <div class="paragraph-2 christies-description w-richtext">
            <p>{{ texts.-68de67ce }}<br></p>
          </div>
          <a href="{{ links.-2d417c0f }}" target="_blank" class="primary-button w-button">{{ texts.47b97206 }}</a>
        </div>
      </div>