<section id="Dev-Services-Redirect-Section" class="section dev-services-redirect-section wf-section">
        <h2 class="h2 dev-services-redirect-title">{{ texts.-7e0cb60b }}</h2>
        <div class="w-layout-grid dev-services-redirect-grid">
          <a href="{{ links.3c59985 }}" class="dev-services-redirect-grid-item dev-services-builders-item w-inline-block">
            <div class="dev-services-redirect-grid-item-image-wrapper"><img src="{{ images.-35dec405.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;73vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;85vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;86vw&quot;}]" sizes="(max-width: 479px) 73vw, (max-width: 767px) 85vw, 86vw" alt="{{ images.-35dec405.alt | trim | escape }}" class="dev-services-redirect-grid-item-image"></div>
            <div class="h5 dev-services-redirect-grid-item-text">{{ texts.-15b6939 }}</div>
          </a>
          <a href="{{ links.-c40d32 }}" class="dev-services-redirect-grid-item w-inline-block">
            <div class="dev-services-redirect-grid-item-image-wrapper"><img src="{{ images.-7ce25bec.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;104.28125px&quot;}]" sizes="104.28125px" alt="{{ images.-7ce25bec.alt | trim | escape }}" class="dev-services-redirect-grid-item-image"></div>
            <div class="h5 dev-services-redirect-grid-item-text">{{ texts.290af1 }}</div>
          </a>
          <a href="{{ links.-2e4dfb1 }}" class="dev-services-redirect-grid-item w-inline-block">
            <div class="dev-services-redirect-grid-item-image-wrapper"><img src="{{ images.59c440ff.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;132.21875px&quot;}]" alt="{{ images.59c440ff.alt | trim | escape }}" class="dev-services-redirect-grid-item-image"></div>
            <div class="h5 dev-services-redirect-grid-item-text">{{ texts.13a96ef2 }}</div>
          </a>
          <a href="{{ links.2f004efe }}" class="dev-services-redirect-grid-item w-inline-block">
            <div class="dev-services-redirect-grid-item-image-wrapper"><img src="{{ images.14e950fd.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;96.703125px&quot;}]" alt="{{ images.14e950fd.alt | trim | escape }}" class="dev-services-redirect-grid-item-image"></div>
            <div class="h5 dev-services-redirect-grid-item-text">{{ texts.645efc51 }}</div>
          </a>
        </div>
      </section>